a {
    color: #0099F7;
    text-decoration: none;

    &:hover {
        color: #F11712;
    }
}

.din {
    font-family: DINCondensed-Bold, -apple-system, BlinkMacSystemFont, helvetica, 'helvetica neue', Ubuntu, 'segoe ui', arial, sans-serif;
}

code,
pre,
samp,
kbd {
    font-family: Menlo, Consolas, Liberation Mono, monospace;
    font-size: .875rem;
    line-height: 1.5;
    font-weight: 400;
}

pre {
    border: 1px solid #eee;
    border-radius: 3px;
}

.hljs {
    background: white;
}

.hljs-attr {
    color: $red;
}

.hljs-string {
    color: $blue;
}

header {
    overflow: hidden;
}

header h1,
header nav .link {
    color: $white;

}

header div {
    z-index: 99;
    position: relative;
}


