
/* 
input {
    padding: 1rem 1.5rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 0;
    &:focus {
        outline: none;
        color: $black;
        border: 1px solid $red;
        transition: all .2s ease-in;
    }
    &[type="submit"] {
        color: $blue;
        background: $white;
        border: 1px solid $blue;
        border-radius: 0;
        font-weight: 600;
        text-transform: uppercase;
        background-color: $bg-blue;
        color: #fff;
        &:hover,
        &:active {
            transition: .2s;
            color: $white;
            background: $red;
            border: 1px solid $red;
        }
    }
}

*/

label {
    opacity: 0;
}
