/*
 *
 * inputs.css
 * Simple css utilities for building responsive form inputs
 * Author: mrmrs
 * License: MIT
 *
 *                */

/*

  Base .input-text class

  Code:
  <input type="text" class="input-text" value="Type something" />

*/

.input-text {
  background: #fff;
  border-radius: .25em;
  border-style: solid;
  border-width: 1px;
  color: #111;
  display: inline-block;
  margin-bottom: .5em;
  padding: 1em 1.5em;
  text-decoration: none;
  transition: color .4s, background-color .4s, border .4s;
}

.input-text:hover,
.input-text:focus {
  background: #fff;
  color: #7FDBFF;
  border: 1px solid #7FDBFF;
  transition: background-color .3s, color .3s, border .3s;
}

.input:active {
  color: #0074D9;
  border: 1px solid #0074D9;
  transition: background-color .3s, color .3s, border .3s;
}


/*

  Sizes

  Small  = .input-text--s
  Medium = .input-text--m
  Large  = .input-text--l

  Code:
<input type="text" class="input-text input-text--s" value="Type something" />
<input type="text" class="input-text input-text--m" value="Type something" />
<input type="text" class="input-text input-text--l" value="Type something" />

*/

.input-text--s { font-size: 14px; }
.input-text--m { font-size: 16px; }
.input-text--l { font-size: 20px; border-radius: .25em!important; }


/*

  Layout utility for responsive buttons

  Code:
  <a href="#" class=.input-text btn--full">

*/

.input-text--full {
  border-radius: .25em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}


/*

  Skins

  * Black & White
  * Grays
  * Colors

  Code:
  <a href="#" class=.input-text btn--black">
  <a href="#" class=.input-text btn--white">
  <a href="#" class=.input-text btn--gray">
  <a href="#" class=.input-text btn--gray-dark">
  <a href="#" class=.input-text btn--gray-border">
  <a href="#" class=.input-text btn--blue">

*/

/* BLACK & WHITE */

.input-text--black {
  color: #fff;
  background-color: #111;
}

.input-text--black:hover,
.input-text--black:focus {
  color: #fff;
  background-color: #444;
  border-color: #444;
}

.input-text--black:active {
  color: #fff;
  background-color: #999;
  border-color: #999;
}


.input-text--white {
  color: #111;
  background-color: #fff;
}

.input-text--white:hover,
.input-text--white:focus {
  color: #111;
  background-color: rgba(255,255,255,.7);
  border-color: rgba(255,255,255,.7);
}

.input-text--white:active {
  color: #111;
  background-color: rgba(255,255,255,.9);
  border-color: rgba(255,255,255,.9);
}



/* Gray */

.input-text--gray {
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  color: #555;
}

.input-text--gray:hover,
.input-text--gray:focus {
  background-color: #ddd;
  border-color: #ddd;
  color: #444;
}

.input-text--gray:active {
  background-color: #ccc;
  border-color: #ccc;
  color: #444;
}

.input-text--gray-border:hover,
.input-text--gray-border:focus {
  background-color: #fff;
  border-color: #ddd;
  color: #777;
}

.input-text--gray-border:active {
  background-color: #ccc;
  border-color: #ccc;
  color: #444;
}

.input-text--gray-dark {
  background-color: #555;
  color: #eee;
}

.input-text--gray-dark:hover,
.input-text--gray-dark:focus {
  background-color: #333;
  border-color: #333;
  color: #eee;
}

.input-text--gray-dark:active {
  background-color: #777;
  border-color: #777;
  color: #eee;
}


/* BLUE */

.input-text--blue {
  color: #fff;
  background-color: #0074D9;
}

.input-text--blue:hover,
.input-text--blue:focus {
  color: #fff!important;
  background-color: #0063aa;
  border-color: #0063aa;
}

.input-text--blue:active {
  color: #fff;
  background-color: #001F3F;
  border-color: #001F3F;
}

/* Keep it mobile-first and responsive */

@media screen and (min-width: 32em) {
  .input-text--full {
    max-width: 16em!important;
  }
}
