a {
  transition: color .4s;
  color: #265C83;
}

a:link, 
a:visited { color: #265C83; }
a:hover   { color: #7FDBFF; }
a:active  { 
  transition: color .3s;
  color: #007BE6; 
  text-decoration: none;
}

.link { text-decoration: none; }

