// Font Choices

// 'avenir next', avenir, 'helvetica neue', roboto, noto, helvetica, ubuntu, arial, sans-serif;

// SF UI Display, Helvetica Neue, Helvetica, Arial, sans-serif;
// SF UI Text, Helvetica Neue, Helvetica, Arial, sans-serif;

$display: 'SF UI Display', 'helvetica neue', roboto, noto, helvetica, ubuntu, arial, sans-serif;
$sans:  'SF UI Text', 'helvetica neue', roboto, noto, helvetica, ubuntu, arial, sans-serif;
$serif:	  Georgia, Times New Roman, Times, serif;
$din:   'DINCondensed-Bold', HelveticaNeue-CondensedBold;
$numbers:  orbitron,'DINCondensed-Bold', HelveticaNeue-CondensedBold;
$white:   #FFFFFF;
$black:   #333333;

.f7 { font-size: 0.7rem; }
.lh-copy-2 { line-height: 1.5; }
